*~
.gradle/
.idea/
build/
gradle/
src/main/generated/**/*.java
src/main/webapp/WEB-INF/*.html
gradlew
gradlew.bat
src/main/resources/barnacle.conf
conf/logback.xml
conf/m7r-project.conf
conf/m7r.conf


